/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/node_modules/
/tmp/
active_storage_drag_and_drop-*.gem

/test/dummy/.bundle

/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-journal

/test/dummy/log/*
!/test/dummy/log/.keep

/test/dummy/tmp/*
!/test/dummy/tmp/.keep

/test/dummy/storage/*
!/test/dummy/storage/.keep

/test/dummy/.byebug_history
